{%- liquid
  assign icon_class = 'icon ' | append: class | strip
  assign icon_stroke_width = settings.icons_stroke_width | times: 1.0
  assign icon_corner_shape = settings.icons_corner_shape
-%}

{%- capture icon -%}
  {%- case icon_name -%}
    {%- when 'theme-3d-model' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.7426 6.2302L20 7.5V10M20 14V16.5L17.7426 17.7698M14.1791 19.7743L12 21L9.82092 19.7743M6.25741 17.7698L4 16.5V14M4 10V7.5L6.25741 6.23021M9.82093 4.22573L12 3L14.1791 4.22573M12 18V20.5M12 6V3.5M17.4019 9L19.5 7.78868M6.59808 15L4.5 16.2113M17.4019 15L19.5 16.2113M6.59808 9L4.5 7.78868M12 12V14M12 12L10.2679 11M12 12L13.7321 11" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}"/>
      </svg>
    {%- when 'theme-arrow-down' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18.5 14L12 20.5M12 20.5L5.5 14M12 20.5V3.5" stroke="black" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
        </svg>
    {%- when 'theme-arrow' -%}
      <svg width="110px" height="110px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g stroke-width="0"/> 
        <g stroke-linecap="round" stroke-linejoin="{{- icon_corner_shape -}}" stroke="black" stroke-width="{{ icon_stroke_width }}"/>      
        <g> <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#121212" stroke-width="0.36" stroke-linecap="round" stroke-linejoin="round"/> </g>
      </svg>
    {%- when 'theme-arrow-close' -%}
      <svg width="110px" height="110px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g stroke-width="0"/> 
        <g stroke-linecap="round" stroke-linejoin="{{- icon_corner_shape -}}" stroke="black" stroke-width="{{ icon_stroke_width }}"/>      
        <g> <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#121212" stroke-width="0.36" stroke-linecap="round" stroke-linejoin="round"/> </g>
      </svg>
    {%- when 'theme-chevron' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 40 40" fill="none">
        <path d="M14.9997 6.66659L28.333 19.9999L14.9997 33.3333" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-bag' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 8H20V17C20 18.6569 18.6569 20 17 20H7C5.34315 20 4 18.6569 4 17V8Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
        <path d="M8 8V7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7V8" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-check-circle' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 9.5L10.5 15L8.5 13M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}"  data-ignore-fill/>
      </svg>
    {%- when 'theme-check' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 15L9.29412 20L21 4" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}"  data-ignore-fill/>
      </svg>
    {%- when 'theme-chevron-down' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 40 40" fill="none">
        <path d="M33.3337 14.9999L20.0003 28.3333L6.66699 14.9999" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-chevron-start' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M15.0002 20L8.4144 13.4142C7.63335 12.6332 7.63335 11.3669 8.4144 10.5858L15.0002 4" stroke="black" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-close' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40" fill="none">
        <path d="M7.91699 7.91675L32.0837 32.0834M32.0837 7.91675L7.91699 32.0834" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'option-price_tag' -%}
      <svg width="1em" height="1em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.16154 11.8423L8.09186 18.829C8.28991 19.0287 8.61108 19.0284 8.80882 18.8285L18.839 8.68572C18.9337 8.58998 18.9868 8.46032 18.9868 8.32514V1.53212C18.9868 1.25006 18.76 1.02141 18.4802 1.02141L11.387 1.02147C11.2527 1.02147 11.1238 1.07529 11.0288 1.17108L1.16151 11.1201C0.963704 11.3195 0.963715 11.6428 1.16154 11.8423ZM20 1.53212C20 0.685947 19.3196 -6.58649e-06 18.4802 0L11.387 5.82026e-05C10.9839 6.15389e-05 10.5973 0.161509 10.3123 0.448879L0.445049 10.3979C-0.148378 10.9962 -0.148346 11.9662 0.445123 12.5645L7.37544 19.5513C7.96958 20.1502 8.9331 20.1495 9.52633 19.5496L19.5565 9.40686C19.8405 9.11967 20 8.73068 20 8.32514V1.53212Z" fill-rule="evenodd"  stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}"/>
        <path d="M15.9028 8.22958C14.7801 9.36148 12.9597 9.36148 11.837 8.22958C10.7142 7.09769 10.7142 5.26253 11.837 4.13064C12.9597 2.99875 14.7801 2.99875 15.9028 4.13064C17.0256 5.26253 17.0256 7.09769 15.9028 8.22958ZM12.5534 7.50734C13.2805 8.24034 14.4593 8.24034 15.1864 7.50734C15.9135 6.77433 15.9135 5.58589 15.1864 4.85289C14.4593 4.11988 13.2805 4.11988 12.5534 4.85289C11.8263 5.58589 11.8263 6.77433 12.5534 7.50734Z"  stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}"/>
      </svg>
    {%- when 'theme-menu' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 12H21M3 5H21M3 19H21" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}"/>
      </svg>
    {%- when 'theme-instagram-ring' -%}
      {%- if icon_variation == blank -%}
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='52'
          height='52'
          viewBox='0 0 52 52'
          fill='none'
          role='presentation'
        >
          <circle
            cx="26"
            cy="26"
            r="25"
            stroke="url(#paint0_linear_9653_90619)"
            stroke-width="2"
          ></circle>
          <defs>
            <linearGradient
              id="paint0_linear_9653_90619"
              x1="42.4734"
              y1="8.10651"
              x2="10.8047"
              y2="44.8876"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#C129BF"></stop>
              <stop offset="0.484375" stop-color="#EB4E41"></stop>
              <stop offset="1" stop-color="#F7CC45"></stop>
            </linearGradient>
          </defs>
        </svg>
      {%- else -%}
        {%- liquid
          assign icon_variation = 'now' | date: '%N' | modulo: 100 | divided_by: 25 | ceil
          if 1
            assign x_one = '165.999'
            assign y_one = '28.3113'
            assign x_two = '39.1215'
            assign y_two = '175.671'
          elsif 2
            assign x_one = '33.3333'
            assign y_one = '21.1538'
            assign x_two = '176.282'
            assign y_two = '169.872'

          elsif 3
            assign x_one = '160.256'
            assign y_one = '180.128'
            assign x_two = '41.6667'
            assign y_two = '16.6667'
          elsif 4
            assign x_one = '30.1282'
            assign y_one = '173.077'
            assign x_two = '175.641'
            assign y_two = '33.3333'
          endif
        -%}
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='200'
          height='200'
          viewBox='0 0 200 200'
          fill='none'
          role='presentation'
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M200 100C200 155.228 155.228 200 100 200C44.7715 200 0 155.228 0 100C0 44.7715 44.7715 0 100 0C155.228 0 200 44.7715 200 100ZM100 196.154C153.104 196.154 196.154 153.104 196.154 100C196.154 46.8957 153.104 3.84615 100 3.84615C46.8957 3.84615 3.84615 46.8957 3.84615 100C3.84615 153.104 46.8957 196.154 100 196.154Z" fill="url(#paint0_linear_11139_7719)"/>
          <defs>
            <linearGradient id="paint0_linear_11139_7719" x1="{{ x_one }}" y1="{{ y_one }}" x2="{{ x_two }}" y2="{{ y_two }}" gradientUnits="userSpaceOnUse">
              <stop stop-color="#C129BF"/>
              <stop offset="0.484375" stop-color="#EB4E41"/>
              <stop offset="1" stop-color="#F7CC45"/>
            </linearGradient>
          </defs>
        </svg>
      {%- endif -%}
    {%- when 'theme-instagram' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 40 40" fill="none">
        <path d="M20.0003 7.01963C24.2278 7.01963 24.7287 7.03546 26.3985 7.11175C27.4022 7.12386 28.3965 7.3084 29.3377 7.65728C30.0255 7.91111 30.6477 8.31591 31.1585 8.8419C31.6845 9.35268 32.0893 9.97488 32.3432 10.6627C32.692 11.604 32.8765 12.5982 32.8887 13.602C32.965 15.2717 32.9808 15.7726 32.9808 20.0001C32.9808 24.2276 32.965 24.7284 32.8887 26.3982C32.8765 27.4019 32.692 28.3962 32.3432 29.3374C32.0797 30.0204 31.6762 30.6407 31.1585 31.1582C30.641 31.6759 30.0207 32.0794 29.3377 32.3429C28.3965 32.6917 27.4022 32.8762 26.3985 32.8884C24.7287 32.9647 24.2278 32.9806 20.0003 32.9806C15.7728 32.9806 15.2719 32.9647 13.6022 32.8884C12.598 32.8764 11.6033 32.6919 10.6615 32.3429C9.97421 32.0889 9.35253 31.6841 8.84214 31.1582C8.31616 30.6474 7.91136 30.0252 7.65753 29.3374C7.30864 28.3962 7.12411 27.4019 7.11199 26.3982C7.03571 24.7284 7.01988 24.2276 7.01988 20.0001C7.01988 15.7726 7.03571 15.2717 7.11199 13.602C7.12411 12.5982 7.30864 11.604 7.65753 10.6627C7.91136 9.97488 8.31616 9.35268 8.84214 8.8419C9.35293 8.31591 9.97513 7.91111 10.663 7.65728C11.6042 7.3084 12.5985 7.12386 13.6022 7.11175C15.2719 7.03546 15.7728 7.01963 20.0003 7.01963ZM20.0003 4.16675C15.7009 4.16675 15.1611 4.18546 13.4727 4.26175C12.1592 4.28795 10.8598 4.53665 9.62949 4.99728C8.57249 5.39525 7.61509 6.0191 6.82411 6.82531C6.01859 7.61601 5.39524 8.5729 4.99753 9.62925C4.53739 10.8596 4.28918 12.1591 4.26343 13.4724C4.18426 15.1608 4.16699 15.7006 4.16699 20.0001C4.16699 24.2996 4.18571 24.8392 4.26199 26.5277C4.28819 27.8411 4.53689 29.1406 4.99753 30.3709C5.39549 31.4279 6.01934 32.3852 6.82556 33.1762C7.61626 33.9817 8.57314 34.6051 9.62949 35.0029C10.8599 35.4631 12.1593 35.7112 13.4727 35.7369C15.1611 35.8161 15.7009 35.8334 20.0003 35.8334C24.2998 35.8334 24.8395 35.8147 26.528 35.7384C27.8413 35.7122 29.1408 35.4636 30.3712 35.0029C31.4233 34.5961 32.3788 33.9739 33.1765 33.1762C33.9742 32.3786 34.5963 31.4231 35.0032 30.3709C35.4633 29.1406 35.7115 27.8411 35.7372 26.5277C35.8163 24.8392 35.8337 24.2996 35.8337 20.0001C35.8337 15.7006 35.815 15.1608 35.7387 13.4724C35.7125 12.159 35.4638 10.8595 35.0032 9.62925C34.6052 8.57225 33.9813 7.61485 33.1752 6.82387C32.3843 6.01835 31.4275 5.395 30.3712 4.99728C29.1408 4.53715 27.8413 4.28893 26.528 4.26318C24.8395 4.18401 24.2998 4.16675 20.0003 4.16675ZM20.0003 11.8689C18.3922 11.8689 16.82 12.3458 15.4829 13.2393C14.1457 14.1327 13.1036 15.4027 12.4881 16.8884C11.8727 18.3742 11.7117 20.0091 12.0254 21.5864C12.3392 23.1637 13.1136 24.6126 14.2507 25.7496C15.3879 26.8867 16.8367 27.6612 18.414 27.9749C19.9913 28.2887 21.6262 28.1277 23.112 27.5122C24.5978 26.8969 25.8677 25.8546 26.7612 24.5176C27.6547 23.1804 28.1315 21.6082 28.1315 20.0001C28.1315 17.8436 27.2748 15.7754 25.7498 14.2505C24.225 12.7256 22.1568 11.8689 20.0003 11.8689ZM20.0003 25.2784C18.9563 25.2784 17.9358 24.9687 17.0678 24.3887C16.1999 23.8087 15.5234 22.9844 15.1239 22.0199C14.7244 21.0556 14.6198 19.9942 14.8235 18.9704C15.0272 17.9464 15.5299 17.0059 16.268 16.2678C17.0062 15.5296 17.9467 15.0269 18.9707 14.8232C19.9945 14.6196 21.0558 14.7241 22.0202 15.1236C22.9847 15.5231 23.809 16.1996 24.389 17.0676C24.969 17.9356 25.2787 18.9561 25.2787 20.0001C25.2787 21.3999 24.7225 22.7426 23.7327 23.7324C22.7428 24.7222 21.4002 25.2784 20.0003 25.2784ZM28.4525 9.64796C28.0767 9.64796 27.7093 9.7594 27.3968 9.96816C27.0845 10.1769 26.8408 10.4737 26.6972 10.8209C26.5533 11.168 26.5157 11.5501 26.589 11.9186C26.6623 12.2872 26.8432 12.6257 27.109 12.8915C27.3747 13.1572 27.7132 13.3381 28.0818 13.4114C28.4503 13.4848 28.8323 13.4471 29.1795 13.3033C29.5267 13.1595 29.8235 12.916 30.0322 12.6035C30.241 12.2911 30.3525 11.9237 30.3525 11.548C30.3525 11.044 30.1523 10.5608 29.796 10.2045C29.4397 9.84813 28.9563 9.64796 28.4525 9.64796Z" fill="black" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-quantity-minus' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" viewBox="0 0 10 2" fill="none">
        <path d="M1 1L9 0.999999" stroke="#111111" stroke-linecap="square"/>
      </svg>
    {%- when 'theme-minus' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 12H20" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}"  data-ignore-fill/>
      </svg>
    {%- when 'option-lock' -%}
      <svg width="14px" height="18px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.5 7.11819H3.5L3.5 18.9997L16.5 18.9997V7.11819ZM3.5 6.11786C2.94772 6.11786 2.5 6.56573 2.5 7.11819V18.9997C2.5 19.5521 2.94772 20 3.5 20H16.5C17.0523 20 17.5 19.5521 17.5 18.9997V7.11819C17.5 6.56572 17.0523 6.11786 16.5 6.11786H3.5Z" fill-rule="evenodd"/>
        <path d="M11.443 11.9199C11.443 12.7406 10.797 13.406 10.0001 13.406C9.20314 13.406 8.55712 12.7406 8.55712 11.9199C8.55712 11.0992 9.20314 10.4338 10.0001 10.4338C10.797 10.4338 11.443 11.0992 11.443 11.9199Z" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" data-ignore-fill/>
        <path d="M10.0187 11.9202C10.3639 11.9202 10.6437 12.2001 10.6437 12.5454V15.6971C10.6437 16.0424 10.3639 16.3223 10.0187 16.3223C9.67354 16.3223 9.39372 16.0424 9.39372 15.6971V12.5454C9.39372 12.2001 9.67354 11.9202 10.0187 11.9202Z" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" data-ignore-fill/>
        <path d="M6.2417 3.75956C6.2417 1.68321 7.92435 0 10 0C12.0757 0 13.7583 1.68321 13.7583 3.75956V6.12135H12.7583V3.75956C12.7583 2.23568 11.5234 1.00033 10 1.00033C8.47663 1.00033 7.2417 2.23568 7.2417 3.75956V6.12135H6.2417V3.75956Z" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-quantity-plus' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
        <path d="M5 1V9" stroke="#111111" stroke-linecap="square"/>
        <path d="M1 5H9" stroke="#111111" stroke-linecap="square"/>
      </svg>
    {%- when 'theme-plus' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4V12M12 12V20M12 12H4M12 12H20" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-search' -%}
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 20L16.05 16.05M18 11C18 14.866 14.866 18 11 18C7.13401 18 4 14.866 4 11C4 7.13401 7.13401 4 11 4C14.866 4 18 7.13401 18 11Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}"  data-ignore-fill/>
      </svg>
    {%- when 'theme-socials' -%}
      {%- case social_name -%}
        {%- when 'brand-twitter' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.4033 3.5H20.2852L13.989 10.701L21.396 20.5H15.5964L11.054 14.557L5.85637 20.5H2.97269L9.70709 12.7977L2.60156 3.5H8.54839L12.6544 8.93215L17.4033 3.5ZM16.3918 18.7738H17.9887L7.68067 5.13549H5.96702L16.3918 18.7738Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-pinterest' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.47447 2 2 6.47784 2 12.0075C2 16.2449 4.62763 19.8663 8.35135 21.3238C8.26126 20.5274 8.18619 19.3253 8.38138 18.4538C8.56156 17.6724 9.55255 13.4801 9.55255 13.4801C9.55255 13.4801 9.25225 12.879 9.25225 11.9925C9.25225 10.595 10.0631 9.55823 11.0541 9.55823C11.9099 9.55823 12.3153 10.2044 12.3153 10.9707C12.3153 11.8272 11.7748 13.1195 11.4895 14.3065C11.2492 15.2983 11.985 16.1097 12.976 16.1097C14.7477 16.1097 16.1141 14.2314 16.1141 11.5267C16.1141 9.13749 14.3874 7.45455 11.9399 7.45455C9.1021 7.45455 7.42042 9.58828 7.42042 11.7971C7.42042 12.6536 7.75075 13.5853 8.17117 14.0811C8.24625 14.1863 8.26126 14.2615 8.24625 14.3666C8.17117 14.6822 8.00601 15.3584 7.97598 15.4936C7.93093 15.6739 7.82583 15.719 7.64565 15.6288C6.3994 15.0428 5.61862 13.2246 5.61862 11.7521C5.61862 8.59654 7.91592 5.69647 12.2252 5.69647C15.6937 5.69647 18.3814 8.17581 18.3814 11.4666C18.3814 14.9076 16.2042 17.6875 13.2012 17.6875C12.1952 17.6875 11.2342 17.1615 10.9039 16.5455C10.9039 16.5455 10.4084 18.4538 10.2883 18.9196C10.0631 19.7911 9.44745 20.873 9.04204 21.5492C9.97297 21.8347 10.964 22 12 22C17.5255 22 22 17.5222 22 11.9925C22 6.47784 17.5255 2 12 2Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-linkedin' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.65 3H4.35C3.99196 3 3.64858 3.14223 3.39541 3.39541C3.14223 3.64858 3 3.99196 3 4.35V19.65C3 20.008 3.14223 20.3514 3.39541 20.6046C3.64858 20.8578 3.99196 21 4.35 21H19.65C20.008 21 20.3514 20.8578 20.6046 20.6046C20.8578 20.3514 21 20.008 21 19.65V4.35C21 3.99196 20.8578 3.64858 20.6046 3.39541C20.3514 3.14223 20.008 3 19.65 3ZM8.4 18.3H5.7V10.2H8.4V18.3ZM7.05 8.625C6.74056 8.61616 6.4406 8.51632 6.18758 8.33797C5.93456 8.15962 5.7397 7.91066 5.62737 7.6222C5.51503 7.33374 5.49019 7.01857 5.55595 6.71607C5.6217 6.41358 5.77515 6.13716 5.9971 5.92138C6.21906 5.70559 6.49968 5.55999 6.80391 5.50278C7.10814 5.44556 7.42248 5.47927 7.70766 5.59969C7.99284 5.7201 8.23622 5.92189 8.40737 6.17983C8.57853 6.43778 8.66987 6.74044 8.67 7.05C8.66289 7.47331 8.4885 7.8766 8.18495 8.17173C7.88139 8.46685 7.47335 8.62982 7.05 8.625ZM18.3 18.3H15.6V14.034C15.6 12.756 15.06 12.297 14.358 12.297C14.1522 12.3107 13.9511 12.3649 13.7663 12.4566C13.5815 12.5482 13.4166 12.6755 13.2811 12.831C13.1457 12.9866 13.0422 13.1674 12.9768 13.363C12.9114 13.5586 12.8853 13.7652 12.9 13.971C12.8955 14.0129 12.8955 14.0551 12.9 14.097V18.3H10.2V10.2H12.81V11.37C13.0733 10.9695 13.435 10.6433 13.8605 10.4227C14.286 10.2021 14.761 10.0944 15.24 10.11C16.635 10.11 18.264 10.884 18.264 13.404L18.3 18.3Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-instagram' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4.21173C14.5365 4.21173 14.837 4.22123 15.8389 4.267C16.4411 4.27427 17.0377 4.38499 17.6024 4.59432C18.0151 4.74662 18.3884 4.9895 18.6949 5.30509C19.0105 5.61156 19.2534 5.98488 19.4057 6.39759C19.615 6.96235 19.7257 7.55888 19.733 8.16114C19.7788 9.16295 19.7883 9.4635 19.7883 12C19.7883 14.5365 19.7788 14.837 19.733 15.8389C19.7257 16.4411 19.615 17.0377 19.4057 17.6024C19.2476 18.0122 19.0055 18.3844 18.6949 18.6949C18.3844 19.0055 18.0122 19.2476 17.6024 19.4057C17.0377 19.615 16.4411 19.7257 15.8389 19.733C14.837 19.7788 14.5365 19.7883 12 19.7883C9.4635 19.7883 9.16295 19.7788 8.16114 19.733C7.55859 19.7258 6.96176 19.6151 6.39673 19.4057C5.98433 19.2533 5.61132 19.0104 5.30509 18.6949C4.9895 18.3884 4.74662 18.0151 4.59432 17.6024C4.38499 17.0377 4.27427 16.4411 4.267 15.8389C4.22123 14.837 4.21173 14.5365 4.21173 12C4.21173 9.4635 4.22123 9.16295 4.267 8.16114C4.27427 7.55888 4.38499 6.96235 4.59432 6.39759C4.74662 5.98488 4.9895 5.61156 5.30509 5.30509C5.61156 4.9895 5.98488 4.74662 6.39759 4.59432C6.96235 4.38499 7.55888 4.27427 8.16114 4.267C9.16295 4.22123 9.4635 4.21173 12 4.21173ZM12 2.5C9.42032 2.5 9.09645 2.51123 8.08341 2.557C7.29535 2.57272 6.51567 2.72194 5.7775 2.99832C5.1433 3.2371 4.56886 3.61141 4.09427 4.09514C3.61096 4.56956 3.23695 5.14369 2.99832 5.7775C2.72224 6.51572 2.57331 7.2954 2.55786 8.08341C2.51036 9.09645 2.5 9.42032 2.5 12C2.5 14.5797 2.51123 14.9035 2.557 15.9166C2.57272 16.7046 2.72194 17.4843 2.99832 18.2225C3.2371 18.8567 3.61141 19.4311 4.09514 19.9057C4.56956 20.389 5.14369 20.763 5.7775 21.0017C6.51572 21.2778 7.2954 21.4267 8.08341 21.4421C9.09645 21.4896 9.42032 21.5 12 21.5C14.5797 21.5 14.9035 21.4888 15.9166 21.443C16.7046 21.4273 17.4843 21.2781 18.2225 21.0017C18.8538 20.7576 19.4271 20.3843 19.9057 19.9057C20.3843 19.4271 20.7576 18.8538 21.0017 18.2225C21.2778 17.4843 21.4267 16.7046 21.4421 15.9166C21.4896 14.9035 21.5 14.5797 21.5 12C21.5 9.42032 21.4888 9.09645 21.443 8.08341C21.4273 7.29535 21.2781 6.51567 21.0017 5.7775C20.7629 5.1433 20.3886 4.56886 19.9049 4.09427C19.4304 3.61096 18.8563 3.23695 18.2225 2.99832C17.4843 2.72224 16.7046 2.57331 15.9166 2.55786C14.9035 2.51036 14.5797 2.5 12 2.5ZM12 7.12132C11.0351 7.12132 10.0918 7.40745 9.28955 7.94352C8.48725 8.4796 7.86194 9.24155 7.49269 10.133C7.12343 11.0245 7.02682 12.0054 7.21506 12.9518C7.40331 13.8982 7.86796 14.7675 8.55025 15.4497C9.23255 16.132 10.1018 16.5967 11.0482 16.7849C11.9946 16.9732 12.9755 16.8766 13.867 16.5073C14.7585 16.1381 15.5204 15.5127 16.0565 14.7105C16.5926 13.9082 16.8787 12.9649 16.8787 12C16.8787 10.7061 16.3647 9.46518 15.4497 8.55025C14.5348 7.63532 13.2939 7.12132 12 7.12132ZM12 15.167C11.3736 15.167 10.7613 14.9812 10.2405 14.6332C9.71973 14.2852 9.31382 13.7906 9.07412 13.2119C8.83442 12.6333 8.7717 11.9965 8.8939 11.3822C9.0161 10.7678 9.31772 10.2035 9.76063 9.76063C10.2035 9.31772 10.7678 9.0161 11.3822 8.8939C11.9965 8.7717 12.6333 8.83442 13.2119 9.07412C13.7906 9.31382 14.2852 9.71973 14.6332 10.2405C14.9812 10.7613 15.167 11.3736 15.167 12C15.167 12.8399 14.8333 13.6455 14.2394 14.2394C13.6455 14.8333 12.8399 15.167 12 15.167ZM17.0713 5.78873C16.8458 5.78873 16.6254 5.85559 16.4379 5.98085C16.2505 6.10612 16.1043 6.28416 16.0181 6.49247C15.9318 6.70078 15.9092 6.92999 15.9532 7.15113C15.9972 7.37227 16.1057 7.5754 16.2652 7.73483C16.4246 7.89426 16.6277 8.00284 16.8489 8.04682C17.07 8.09081 17.2992 8.06823 17.5075 7.98195C17.7158 7.89567 17.8939 7.74955 18.0191 7.56208C18.1444 7.37461 18.2113 7.1542 18.2113 6.92873C18.2113 6.62638 18.0912 6.33642 17.8774 6.12263C17.6636 5.90883 17.3736 5.78873 17.0713 5.78873Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-facebook' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.58404 21.706V15.0561H7.52015V12H9.58404V10.6833C9.58404 7.27944 11.124 5.70333 14.464 5.70333C15.0963 5.70333 16.1879 5.82722 16.6363 5.95111V8.71944C16.4001 8.69556 15.9879 8.68333 15.4801 8.68333C13.8401 8.68333 13.2079 9.30333 13.2079 10.9194V12H16.4763L15.9163 15.0556H13.2124V21.9277C18.1637 21.3279 22 17.112 22 12C22 6.47722 17.5228 2 12 2C6.47722 2 2 6.47722 2 12C2 16.6899 5.22813 20.6253 9.58404 21.706Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-youtube' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2043 4.00776C21.1084 4.28763 21.8189 5.10925 22.0609 6.15475C22.4982 8.04786 22.5 12 22.5 12C22.5 12 22.5 15.9522 22.0609 17.8453C21.8189 18.8908 21.1084 19.7124 20.2043 19.9922C18.5673 20.5 12 20.5 12 20.5C12 20.5 5.43274 20.5 3.79568 19.9922C2.89159 19.7124 2.1811 18.8908 1.93908 17.8453C1.5 15.9522 1.5 12 1.5 12C1.5 12 1.5 8.04786 1.93908 6.15475C2.1811 5.10925 2.89159 4.28763 3.79568 4.00776C5.43274 3.5 12 3.5 12 3.5C12 3.5 18.5673 3.5 20.2043 4.00776ZM15.5134 12.0003L9.79785 15.2999V8.70065L15.5134 12.0003Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-vimeo' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.0807 10.3415C19.081 14.8475 14.165 21 10.9988 21C7.91585 21 7.49924 14.241 5.8328 9.73493C4.99958 7.48191 4.49965 8.00184 2.91654 9.12835L2 7.91519C4.24969 5.83548 6.49938 3.49581 7.91585 3.3225C9.49896 3.14919 10.4155 4.2757 10.7488 6.61537C11.2487 9.73493 11.9153 14.5876 12.9985 14.5876C13.915 14.5876 16.0814 10.7748 16.248 9.38831C16.4147 7.39526 14.8316 7.3086 13.4151 7.91519C15.6648 0.376253 24.9135 1.76272 21.0807 10.3415Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-tiktok' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.7134 10.2134C18.9337 10.2134 17.2861 9.64796 15.9406 8.68698V15.6726C15.9406 19.1671 13.1063 22 9.61006 22C8.30556 22 7.09309 21.6058 6.08588 20.9298C4.39354 19.7941 3.2793 17.863 3.2793 15.6726C3.2793 12.1783 6.11365 9.34543 9.61016 9.3455C9.90073 9.34536 10.1909 9.36509 10.4788 9.40441V10.18L10.4786 12.904C10.2016 12.8161 9.90621 12.7684 9.59976 12.7684C8.00034 12.7684 6.70399 14.0643 6.70399 15.6627C6.70399 16.7928 7.35199 17.7714 8.29691 18.2481C8.68871 18.4456 9.13121 18.5569 9.59979 18.5569C11.1959 18.5569 12.4901 17.2663 12.4956 15.6726V2H15.9405V2.44029C15.9527 2.57192 15.9702 2.70305 15.993 2.83332C16.2321 4.19637 17.0475 5.36094 18.1793 6.06685C18.9394 6.54103 19.8176 6.79171 20.7134 6.79035L20.7134 10.2134Z" fill="currentColor" data-ignore-stroke/>
          </svg>
        {%- when 'brand-snapchat' -%}
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.6276 16.8937C21.5439 16.6147 21.1393 16.4194 21.1393 16.4194C21.1031 16.3971 21.0668 16.3803 21.0389 16.3663C20.3665 16.0427 19.7722 15.6521 19.2728 15.2085C18.871 14.8514 18.5251 14.4608 18.2488 14.0423C17.9113 13.5345 17.7522 13.1076 17.6853 12.8788C17.6462 12.7282 17.6546 12.6696 17.6853 12.5915C17.7132 12.5273 17.7885 12.4631 17.8276 12.4353C18.0536 12.2762 18.419 12.039 18.6422 11.894C18.8348 11.7684 19.0022 11.6596 19.0998 11.5927C19.4151 11.3722 19.6299 11.149 19.7582 10.9063C19.9228 10.5938 19.9424 10.2478 19.814 9.91028C19.6411 9.45272 19.2142 9.1793 18.6729 9.1793C18.553 9.1793 18.4274 9.19324 18.3047 9.21835C17.995 9.28531 17.6992 9.39693 17.4537 9.49176C17.437 9.50013 17.4174 9.4862 17.4174 9.46665C17.4425 8.85567 17.4733 8.03538 17.4063 7.25418C17.3449 6.54831 17.1998 5.95404 16.9627 5.43509C16.7227 4.91336 16.4158 4.52834 16.1703 4.25213C15.9387 3.98708 15.5342 3.59648 14.9204 3.24493C14.0583 2.7511 13.0762 2.5 12.002 2.5C10.9307 2.5 9.95135 2.7511 9.08645 3.24215C8.43918 3.61322 8.02347 4.03172 7.83376 4.24934C7.591 4.52834 7.28131 4.91336 7.04137 5.43231C6.80422 5.95124 6.65914 6.54552 6.59776 7.25139C6.5308 8.03262 6.5587 8.78871 6.5866 9.46389C6.5866 9.48339 6.56707 9.49738 6.55033 9.48901C6.30481 9.39412 6.00907 9.2825 5.69937 9.21554C5.57661 9.18767 5.45385 9.1765 5.33109 9.1765C4.78983 9.1765 4.36296 9.44991 4.18998 9.90747C4.06163 10.2478 4.08117 10.591 4.24578 10.9035C4.37412 11.1462 4.58895 11.3695 4.90422 11.5899C5.00187 11.6568 5.16927 11.7656 5.36178 11.8912C5.58219 12.0335 5.93652 12.2622 6.16252 12.4241C6.19042 12.4436 6.28528 12.5162 6.31596 12.5915C6.34945 12.6724 6.35502 12.731 6.31318 12.89C6.24342 13.1216 6.0844 13.5429 5.75238 14.0423C5.47617 14.4608 5.13021 14.8514 4.72845 15.2085C4.22625 15.6521 3.63197 16.0427 2.96237 16.3663C2.93168 16.3803 2.89262 16.3998 2.85077 16.4249C2.80892 16.45 2.44901 16.6286 2.37368 16.8937C2.26208 17.2843 2.55782 17.6498 2.86472 17.8478C3.36134 18.1687 3.96677 18.3417 4.31832 18.4338C4.41597 18.4589 4.50525 18.484 4.58616 18.5091C4.63638 18.5258 4.76193 18.5732 4.81773 18.643C4.88469 18.7295 4.89306 18.8383 4.91817 18.9611C4.95723 19.1675 5.04372 19.4214 5.29761 19.5972C5.57661 19.7897 5.93374 19.8037 6.38293 19.8204C6.85444 19.8372 7.44034 19.8623 8.10993 20.0827C8.41963 20.1859 8.70141 20.3589 9.02786 20.5598C9.70861 20.9782 10.5568 21.5 12.0048 21.5C13.4528 21.5 14.3066 20.9755 14.9929 20.557C15.3166 20.3589 15.5955 20.1859 15.8997 20.0855C16.5693 19.865 17.1552 19.8427 17.6267 19.8232C18.0759 19.8064 18.433 19.7925 18.712 19.6C18.9854 19.413 19.0636 19.1313 19.0998 18.9192C19.1193 18.816 19.1333 18.7212 19.1919 18.643C19.2421 18.5761 19.3593 18.5314 19.4151 18.5119C19.4988 18.4868 19.5881 18.4617 19.6913 18.4338C20.0428 18.3389 20.4808 18.2301 21.0165 17.926C21.6499 17.5633 21.6945 17.1141 21.6276 16.8937Z" fill="currentColor"  data-ignore-stroke/>
          </svg>
      {%- endcase -%}
    {%- when 'theme-phone' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 4H4V6C4 13.732 10.268 20 18 20H20V15L16 13L14.5 14.5C12 13.5 10.5 12 9.5 9.5L11 8L9 4Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linejoin="{{- icon_corner_shape -}}" />
      </svg>
    {%- when 'theme-timer' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8H13ZM12 12H11C11 12.2652 11.1054 12.5196 11.2929 12.7071L12 12ZM13.7929 15.2071C14.1834 15.5976 14.8166 15.5976 15.2071 15.2071C15.5976 14.8166 15.5976 14.1834 15.2071 13.7929L13.7929 15.2071ZM1.29289 4.54289C0.902369 4.93342 0.902369 5.56658 1.29289 5.95711C1.68342 6.34763 2.31658 6.34763 2.70711 5.95711L1.29289 4.54289ZM5.70711 2.95711C6.09763 2.56658 6.09763 1.93342 5.70711 1.54289C5.31658 1.15237 4.68342 1.15237 4.29289 1.54289L5.70711 2.95711ZM21.2929 5.95711C21.6834 6.34763 22.3166 6.34763 22.7071 5.95711C23.0976 5.56658 23.0976 4.93342 22.7071 4.54289L21.2929 5.95711ZM19.7071 1.54289C19.3166 1.15237 18.6834 1.15237 18.2929 1.54289C17.9024 1.93342 17.9024 2.56658 18.2929 2.95711L19.7071 1.54289ZM20 12C20 16.4183 16.4183 20 12 20V22C17.5228 22 22 17.5228 22 12H20ZM12 20C7.58172 20 4 16.4183 4 12H2C2 17.5228 6.47715 22 12 22V20ZM4 12C4 7.58172 7.58172 4 12 4V2C6.47715 2 2 6.47715 2 12H4ZM12 4C16.4183 4 20 7.58172 20 12H22C22 6.47715 17.5228 2 12 2V4ZM11 8V12H13V8H11ZM11.2929 12.7071L13.7929 15.2071L15.2071 13.7929L12.7071 11.2929L11.2929 12.7071ZM2.70711 5.95711L5.70711 2.95711L4.29289 1.54289L1.29289 4.54289L2.70711 5.95711ZM22.7071 4.54289L19.7071 1.54289L18.2929 2.95711L21.2929 5.95711L22.7071 4.54289Z" fill="currentColor"/>
      </svg>
    {%- when 'theme-user' -%}
      <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.5 6.5C15.5 8.433 13.933 10 12 10C10.067 10 8.5 8.433 8.5 6.5C8.5 4.567 10.067 3 12 3C13.933 3 15.5 4.567 15.5 6.5Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
        <path d="M12 13C7.8098 13 4.86894 16.0754 4.5 20H19.5C19.1311 16.0754 16.1902 13 12 13Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-video' -%}
      <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 21V2L20 11.5L4 21Z" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-zoom' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40" fill="none">
        <path d="M22.9167 6.25H33.75V17.0833M22.9167 17.0833L32.461 7.53907M17.0833 22.9167L7.53907 32.461M6.25 22.9167V33.75H17.0833" stroke="currentColor" stroke-width="{{- icon_stroke_width -}}" stroke-linecap="{{- icon_corner_shape -}}" stroke-linejoin="{{- icon_corner_shape -}}" data-ignore-fill/>
      </svg>
    {%- when 'theme-plus-button' -%}
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4V20" stroke="#111111" stroke-linecap="square"></path>
        <path d="M4 12H20" stroke="#111111" stroke-linecap="square"></path>
      </svg>
  {%- endcase -%}
{%- endcapture -%}

{% liquid
  assign icon_class = ''
  if text or text != blank
    assign icon_class = 'icon-with-text' | append: ' ' | append: class
  elsif class
    assign icon_class = 'icon' | append: ' ' | append: class | replace_last: ' icon', ''
  endif

  assign custom_icon = custom_icon | default: false
%}

{%- if custom_icon -%}
  {%- assign icon_alt = icon_alt | default: nil -%}
  {%- if class -%}<span class="{{ icon_class }}">{%- endif -%}
    {{ custom_icon | image_url: width: 24 | image_tag: alt: icon_alt }}
  {%- if class -%}</span>{%- endif -%}
{%- else -%}
  {%- if text or text != blank -%}
    <div class="{{ icon_class }}">
      <span class="icon">
        {{ icon }}
      </span>
      <span class="icon__text">
        {{ text }}
      </span>
    </div>
  {%- else -%}
    {%- if class -%}<span class="{{ icon_class }}">{%- endif -%}
      {{ icon }}
    {%- if class -%}</span>{%- endif -%}
  {%- endif -%}
{%- endif -%}


{%- comment -%}
  Renders SVG Icon Element with optional text

  Parameters:
    - icon_name: required, name of the icon to render
    - text: string, optional, text to display next to the icon
    - class: string, optional, additional classes to add to the icon element

  Important:
    - If you want to add predefined styling to the icon:
      -- for icon only, you should use the class parameter with 'icon'.
      -- for icon with text, you should use the class parameter with 'icon-with-text'.

  Usage Types:
    - icon_name: 'brand-facebook'
    - icon_name: 'brand-instagram', class: 'icon custom-class'
    - icon_name: 'brand-x', text: 'X', class: 'icon-with-text custom-class'
{%- endcomment -%}
