<modal-dialog id="PasswordModal" class="password-modal">
  <div class="password-modal__dialog" role="dialog" tabindex="-1" aria-label="{{- 'password.password_modal.title' | t -}}" aria-modal="true">
    <button id="ModalClose-PasswordModal" type="button" class="password-modal__close" aria-label="{{- 'actions.close' | t -}}">
      {% render 'icon', icon_name: 'theme-close-small' %}
    </button>
    <div class="password-modal__content" role="document" aria-label="{{- 'password.password_modal.title' | t -}}" tabindex="0">
      <div class="container max-w-narrow">
        <h4 class="password-modal__title">
          {{- 'password.password_modal.title' | t -}}
        </h4>
        <form-validate>
          {%- form 'storefront_password' -%}
            <div class="form-row">
              {%- liquid
                assign label = 'password.password_modal.password.label' | t
                assign placeholder = 'password.password_modal.password.placeholder' | t
                capture attr
                  echo 'autocomplete="current-password"'
                endcapture
                if form.errors
                  assign error = 'password.password_modal.password.error' | t
                  assign has_error = true
                endif
                render 'text-input', id: 'Password', label: label, type: 'password', name: 'password', placeholder: placeholder, attr: attr, message: error, has_error: has_error, required: true
              -%}
            </div>
            <div class="form-row">
              {%- assign value = 'password.password_modal.submit' | t -%}
              {%- render 'button', type: 'submit', value: value, style: 'outlined', class: 'button' -%}
              {%- assign value = nil -%}
            </div>
          {%- endform -%}
        </form-validate>
        <p class="caption color-subdued">
          {{- 'password.admin_link_html' | t -}}
        </p>
      </div>
    </div>
  </div>
</modal-dialog>
