{{- 'section-header-password.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign header_color_scheme = section.settings.color_scheme
  if header_color_scheme == blank
    assign header_color_scheme = 'scheme-1'
  endif
-%}
{%- render 'section-common-styles', section: section -%}

{%- if section.settings.header_background_color != blank -%}
  {% style %}
    body.template--password #shopify-section-{{ section.id }} .header-password {
      background-color: {{ section.settings.header_background_color }} !important;
      background-image: none !important;
    }
  {% endstyle %}
{%- endif -%}

<header id="header" class="header-password color-{{ header_color_scheme }} gradient">
  <div class="container max-w-{{ section.settings.section_width }}">
    <div class="header-password__logo">
      {%- if section.settings.logo_svg_code != blank -%}
        {{- section.settings.logo_svg_code -}}
      {%- elsif section.settings.logo != blank -%}
        {%- assign logo_image_size_double = section.settings.logo_width | times: 2 | at_most: 2000 -%}
        {% style %}
          .header-password__logo-image {
            width: {{ section.settings.logo_width_mobile }}px;
          }
          @media screen and (min-width: 990px) {
            .header-password__logo-image {
              width: {{ section.settings.logo_width }}px;
            }
          }
        {% endstyle %}
        <img
          srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: logo_image_size_double }} 2x"
          src="{{- section.settings.logo | image_url: width: section.settings.logo_width -}}"
          loading="lazy"
          width="{{- section.settings.logo_width -}}"
          height="auto"
          alt="{{- section.settings.logo.alt | default: shop.name | escape -}}"
          class="header-password__logo-image"
        >
      {%- endif -%}
      <span
        class="{% if section.settings.logo == blank and section.settings.logo_svg_code == blank %}h4{% else %}visually-hidden{% endif %}"
      >{{- shop.name | escape -}}</span>
    </div>
    {%- if section.settings.show_password_link -%}
      <modal-opener class="header-password__link" data-modal="#PasswordModal">
        <button type="button" aria-haspopup="dialog">
          {% render 'icon', icon_name: 'option-lock' %}
          <span>{{- 'password.password_link' | t -}}</span>
        </button>
      </modal-opener>
    {%- endif -%}
  </div>
</header>

{% schema %}
{
  "name": "t:sections.main-header-password.name",
  "tag": "section",
  "class": "section-header-password",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-header-password.settings.logo.label"
    },
    {
      "type": "html",
      "id": "logo_svg_code",
      "label": "t:sections.main-header-password.settings.logo_svg_code.label",
      "info": "t:sections.main-header-password.settings.logo_svg_code.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 100,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.main-header-password.settings.logo_width.label",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 60,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "t:sections.main-header-password.settings.logo_width_mobile.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:global.header.settings.content",
      "info": "t:global.header.settings.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:global.settings.section.width.label",
      "options": [
        {
          "value": "page",
          "label": "t:global.settings.section.width.options.page.label"
        },
        {
          "value": "fluid",
          "label": "t:global.settings.section.width.options.fluid.label"
        },
        {
          "value": "full",
          "label": "t:global.settings.section.width.options.full.label"
        }
      ],
      "default": "page"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "header_background_color",
      "label": "t:sections.main-header-password.settings.header_background_color.label",
      "info": "t:sections.main-header-password.settings.header_background_color.info"
    },
    {
      "type": "checkbox",
      "id": "show_password_link",
      "label": "Show \"Enter using password\" link",
      "default": true
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:global.settings.spacing.top.label",
      "options": [
        {
          "value": "0",
          "label": "t:global.settings.spacing.options.none.label"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:global.settings.spacing.bottom.label",
      "options": [
        {
          "value": "0",
          "label": "t:global.settings.spacing.options.none.label"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "section_border",
      "label": "t:global.settings.section.border.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.settings.section.border.options.none.label"
        },
        {
          "value": "top",
          "label": "t:global.settings.section.border.options.top.label"
        },
        {
          "value": "bottom",
          "label": "t:global.settings.section.border.options.bottom.label"
        },
        {
          "value": "both",
          "label": "t:global.settings.section.border.options.both.label"
        }
      ],
      "default": "none"
    }
  ]
}
{% endschema %}
