{%- if section.settings.title != blank -%}
  <link
    rel='stylesheet'
    href='{{- 'main-password.css' | asset_url -}}'
    media='print'
    onload="this.media='all'"
  >
  <noscript>
    {{- 'main-password.css' | asset_url | stylesheet_tag -}}
  </noscript>

  {%- render 'section-common-styles', section: section -%}

  <div class='main-password center color-{{ section.settings.color_scheme }} gradient'>
    <div class='main-password__wrapper'>
      <div class='container container--small'>
        <header class='main-password__head'>
          <h1 class='main-password__title h1'>
            {{- section.settings.title | escape -}}
          </h1>
          {%- if section.settings.subtext != blank or shop.password_message != blank -%}
            <div class='main-password__entry font-size-md'>
              {%- if section.settings.subtext != blank -%}
                {{- section.settings.subtext -}}
              {%- endif -%}
              {%- if shop.password_message != blank -%}
                {{- shop.password_message | escape -}}
              {%- endif -%}
            </div>
          {%- endif -%}
        </header>

        {%- if section.settings.email_signup -%}
          <div class='main-password__email-signup'>
            {%- if section.settings.email_signup_title != blank -%}
              <h2 class='main-password__title h3'>
                {{- section.settings.email_signup_title | escape -}}
              </h2>
            {%- endif -%}
            {%- if section.settings.email_signup_text != blank -%}
              {{- section.settings.email_signup_text -}}
            {%- endif -%}
            {%- render 'newsletter-form', namespace: section.id, js_class: 'js-form' -%}
          </div>
        {%- endif -%}

        {% capture shopify %}
          <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify" role="button">
            {%- render 'logo-shopify' -%}
          </a>
        {% endcapture %}

        <div class='main-password__callout'>
          {{- 'password.admin_link_html' | t -}}
        </div>
        <div class='main-password__foot font-size-md'>
          {{- 'password.powered_by_shopify_html' | t: shopify: shopify -}}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "class": "section-main-password",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.main-password.settings.title.label",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "t:sections.main-password.settings.subtext.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-password.settings.header_email_signup.content"
    },
    {
      "type": "checkbox",
      "id": "email_signup",
      "label": "t:sections.main-password.settings.email_signup.label",
      "default": true
    },
    {
      "type": "text",
      "id": "email_signup_title",
      "label": "t:sections.main-password.settings.email_signup_title.label"
    },
    {
      "type": "richtext",
      "id": "email_signup_text",
      "label": "t:sections.main-password.settings.email_signup_text.label"
    },
    {
      "type": "header",
      "content": "t:global.header.settings.content",
      "info": "t:global.header.settings.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:global.settings.spacing.top.label",
      "options": [
        {
          "value": "0",
          "label": "t:global.settings.spacing.options.none.label"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:global.settings.spacing.bottom.label",
      "options": [
        {
          "value": "0",
          "label": "t:global.settings.spacing.options.none.label"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "section_border",
      "label": "t:global.settings.section.border.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.settings.section.border.options.none.label"
        },
        {
          "value": "top",
          "label": "t:global.settings.section.border.options.top.label"
        },
        {
          "value": "bottom",
          "label": "t:global.settings.section.border.options.bottom.label"
        },
        {
          "value": "both",
          "label": "t:global.settings.section.border.options.both.label"
        }
      ],
      "default": "none"
    }
  ]
}
{% endschema %}
