{%- if section.settings.background_image != blank -%}
  {%- liquid
    assign bg_image = section.settings.background_image
    assign bg_url = bg_image | image_url: width: 3840
    assign bg_focal = bg_image.presentation.focal_point
    if bg_focal == blank
      assign bg_focal = 'center center'
    endif
    assign bg_overlay = section.settings.background_overlay_opacity | times: 0.01
  -%}
  {% style %}
    body.template--password {
      min-height: 100vh;
      background-color: rgb(var(--color-background));
      background-image: linear-gradient(
          rgba(0, 0, 0, {{ bg_overlay }}),
          rgba(0, 0, 0, {{ bg_overlay }})
        ),
        url('{{ bg_url }}');
      background-size: cover;
      background-position: {{ bg_focal }};
      background-repeat: no-repeat;
      background-attachment: scroll;
    }

    {%- unless section.settings.header_transparent_over_image == false -%}
      body.template--password .section-header-password .header-password {
        background: none !important;
        background-color: transparent !important;
      }
    {%- endunless -%}

    body.template--password .section-main-password .main-password {
      background: none !important;
      background-color: transparent !important;
    }
  {% endstyle %}
{%- endif -%}

{%- if section.blocks.size > 0 -%}
  {%- render 'section-common-styles', section: section -%}

  <div class="main-password main-password--{% if section.settings.background_image != blank %}has-bg{% else %}no-bg{% endif %} center color-{{ section.settings.color_scheme }} gradient">
    <div class="main-password__wrapper">
      <div class="container container--small main-password__blocks">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- if block.settings.title != blank
                or block.settings.subtext != blank
                or block.settings.show_shop_password_message and shop.password_message != blank
              -%}
                <div class="main-password__block main-password__block--heading" {{ block.shopify_attributes }}>
                  <header class="main-password__head">
                    {%- if block.settings.title != blank -%}
                      <h1 class="main-password__title h1">
                        {{- block.settings.title | escape -}}
                      </h1>
                    {%- endif -%}
                    {%- if block.settings.subtext != blank
                      or block.settings.show_shop_password_message and shop.password_message != blank
                    -%}
                      <div class="main-password__entry font-size-md">
                        {%- if block.settings.subtext != blank -%}
                          {{- block.settings.subtext -}}
                        {%- endif -%}
                        {%- if block.settings.show_shop_password_message and shop.password_message != blank -%}
                          {{- shop.password_message | escape -}}
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </header>
                </div>
              {%- endif -%}

            {%- when 'newsletter' -%}
              <div class="main-password__block main-password__block--newsletter" {{ block.shopify_attributes }}>
                <div class="main-password__email-signup{% if block.settings.glass_background %} main-password__email-signup--glass{% endif %}">
                  {%- if block.settings.email_signup_title != blank -%}
                    <h2 class="main-password__title h3">
                      {{- block.settings.email_signup_title | escape -}}
                    </h2>
                  {%- endif -%}
                  {%- if block.settings.email_signup_text != blank -%}
                    {{- block.settings.email_signup_text -}}
                  {%- endif -%}
                  {%- render 'newsletter-form', namespace: block.id, js_class: 'js-form' -%}
                </div>
              </div>

            {%- when 'countdown' -%}
              <div class="main-password__block main-password__block--countdown" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                  <p class="main-password__countdown-heading h4">{{ block.settings.heading | escape }}</p>
                {%- endif -%}
                {%- render 'countdown-timer',
                  id: block.id,
                  timer_text_first_letter: false,
                  timer_year: block.settings.timer_year,
                  timer_month: block.settings.timer_month,
                  timer_day: block.settings.timer_day,
                  timer_hour: block.settings.timer_hour,
                  timer_minute: block.settings.timer_minute,
                  timer_extend: block.settings.timer_extend,
                  show_timer_days: block.settings.show_timer_days,
                  show_timer_hours: block.settings.show_timer_hours,
                  show_timer_minutes: block.settings.show_timer_minutes,
                  show_timer_seconds: block.settings.show_timer_seconds,
                  show_unit_labels: block.settings.show_unit_labels,
                  unit_label_style: block.settings.unit_label_style,
                  timer_end_message: block.settings.timer_end_message,
                  class: 'main-password__countdown-timer'
                -%}
              </div>

            {%- when 'store_links' -%}
              {%- if block.settings.show_admin_callout or block.settings.show_powered_by_shopify or block.settings.show_social_links -%}
                <div class="main-password__block main-password__block--store-links" {{ block.shopify_attributes }}>
                  {%- if block.settings.show_social_links -%}
                    {%- render 'password-store-socials', open_new_tab: block.settings.social_links_new_tab -%}
                  {%- endif -%}
                  {%- if block.settings.show_admin_callout -%}
                    <div class="main-password__callout">
                      {{- 'password.admin_link_html' | t -}}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.show_powered_by_shopify -%}
                    {% capture shopify %}
                      <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify" role="button">
                        {%- render 'logo-shopify' -%}
                      </a>
                    {% endcapture %}
                    <div class="main-password__foot font-size-md">
                      {{- 'password.powered_by_shopify_html' | t: shopify: shopify -}}
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "class": "section-main-password",
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.main-password.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.main-password.blocks.heading.settings.title.label",
          "default": "Opening soon"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "label": "t:sections.main-password.blocks.heading.settings.subtext.label"
        },
        {
          "type": "checkbox",
          "id": "show_shop_password_message",
          "label": "t:sections.main-password.blocks.heading.settings.show_shop_password_message.label",
          "default": true,
          "info": "t:sections.main-password.blocks.heading.settings.show_shop_password_message.info"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.main-password.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "email_signup_title",
          "label": "t:sections.main-password.blocks.newsletter.settings.email_signup_title.label"
        },
        {
          "type": "richtext",
          "id": "email_signup_text",
          "label": "t:sections.main-password.blocks.newsletter.settings.email_signup_text.label"
        },
        {
          "type": "checkbox",
          "id": "glass_background",
          "label": "t:sections.main-password.blocks.newsletter.settings.glass_background.label",
          "default": false,
          "info": "t:sections.main-password.blocks.newsletter.settings.glass_background.info"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "t:sections.main-password.blocks.countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main-password.blocks.countdown.settings.heading.label",
          "info": "t:sections.main-password.blocks.countdown.settings.heading.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.timer.settings.header__timer.content"
        },
        {
          "type": "number",
          "id": "timer_year",
          "label": "t:sections.global.settings.timer.settings.timer_year.label",
          "default": 2026
        },
        {
          "type": "select",
          "id": "timer_month",
          "label": "t:sections.global.settings.timer.settings.timer_month.label",
          "options": [
            { "value": "01", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__1" },
            { "value": "02", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__2" },
            { "value": "03", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__3" },
            { "value": "04", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__4" },
            { "value": "05", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__5" },
            { "value": "06", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__6" },
            { "value": "07", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__7" },
            { "value": "08", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__8" },
            { "value": "09", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__9" },
            { "value": "10", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__10" },
            { "value": "11", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__11" },
            { "value": "12", "label": "t:sections.global.settings.timer.settings.timer_month.options.options__12" }
          ],
          "default": "01"
        },
        {
          "type": "range",
          "id": "timer_day",
          "label": "t:sections.global.settings.timer.settings.timer_day.label",
          "min": 1,
          "max": 31,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "timer_hour",
          "label": "t:sections.global.settings.timer.settings.timer_hour.label",
          "min": 0,
          "max": 23,
          "step": 1,
          "default": 0,
          "unit": "h"
        },
        {
          "type": "range",
          "id": "timer_minute",
          "label": "t:sections.global.settings.timer.settings.timer_minute.label",
          "min": 0,
          "max": 59,
          "step": 1,
          "default": 0,
          "unit": "m"
        },
        {
          "type": "range",
          "id": "timer_extend",
          "label": "t:sections.global.settings.timer.settings.timer_extend.label",
          "info": "t:sections.global.settings.timer.settings.timer_extend.info",
          "min": 0,
          "max": 30,
          "step": 1,
          "default": 0,
          "unit": "d"
        },
        {
          "type": "inline_richtext",
          "id": "timer_end_message",
          "label": "t:sections.global.settings.timer.settings.timer_end_message.label",
          "info": "t:sections.global.settings.timer.settings.timer_end_message.info",
          "default": "Sale has ended"
        },
        {
          "type": "header",
          "content": "t:sections.callout-banner.settings.header_timer_display_settings.content"
        },
        {
          "type": "checkbox",
          "id": "show_timer_days",
          "label": "t:sections.global.settings.timer.settings.show_timer_days.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_timer_hours",
          "label": "t:sections.global.settings.timer.settings.show_timer_hours.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_timer_minutes",
          "label": "t:sections.global.settings.timer.settings.show_timer_minutes.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_timer_seconds",
          "label": "t:sections.global.settings.timer.settings.show_timer_seconds.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.main-password.blocks.countdown.settings.header_labels.content"
        },
        {
          "type": "checkbox",
          "id": "show_unit_labels",
          "label": "t:sections.main-password.blocks.countdown.settings.show_unit_labels.label",
          "default": true
        },
        {
          "type": "select",
          "id": "unit_label_style",
          "label": "t:sections.main-password.blocks.countdown.settings.unit_label_style.label",
          "info": "t:sections.main-password.blocks.countdown.settings.unit_label_style.info",
          "options": [
            {
              "value": "full",
              "label": "t:sections.main-password.blocks.countdown.settings.unit_label_style.options.full.label"
            },
            {
              "value": "short",
              "label": "t:sections.main-password.blocks.countdown.settings.unit_label_style.options.short.label"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "type": "store_links",
      "name": "t:sections.main-password.blocks.store_links.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_admin_callout",
          "label": "t:sections.main-password.blocks.store_links.settings.show_admin_callout.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_social_links",
          "label": "t:sections.main-password.blocks.store_links.settings.show_social_links.label",
          "info": "t:sections.main-password.blocks.store_links.settings.show_social_links.info",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "social_links_new_tab",
          "label": "t:sections.main-password.blocks.store_links.settings.social_links_new_tab.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_powered_by_shopify",
          "label": "t:sections.main-password.blocks.store_links.settings.show_powered_by_shopify.label",
          "default": true
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password.settings.header_background.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password.settings.background_image.info"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.main-password.settings.background_image.label"
    },
    {
      "type": "range",
      "id": "background_overlay_opacity",
      "min": 0,
      "max": 90,
      "step": 5,
      "unit": "%",
      "label": "t:sections.main-password.settings.background_overlay_opacity.label",
      "default": 35,
      "info": "t:sections.main-password.settings.background_overlay_opacity.info"
    },
    {
      "type": "checkbox",
      "id": "header_transparent_over_image",
      "label": "t:sections.main-password.settings.header_transparent_over_image.label",
      "default": true,
      "info": "t:sections.main-password.settings.header_transparent_over_image.info"
    },
    {
      "type": "header",
      "content": "t:global.header.settings.content",
      "info": "t:global.header.settings.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:global.settings.spacing.top.label",
      "options": [
        { "value": "0", "label": "t:global.settings.spacing.options.none.label" },
        { "value": "1", "label": "S" },
        { "value": "2", "label": "M" },
        { "value": "4", "label": "L" },
        { "value": "6", "label": "XL" }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:global.settings.spacing.bottom.label",
      "options": [
        { "value": "0", "label": "t:global.settings.spacing.options.none.label" },
        { "value": "1", "label": "S" },
        { "value": "2", "label": "M" },
        { "value": "4", "label": "L" },
        { "value": "6", "label": "XL" }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "section_border",
      "label": "t:global.settings.section.border.label",
      "options": [
        { "value": "none", "label": "t:global.settings.section.border.options.none.label" },
        { "value": "top", "label": "t:global.settings.section.border.options.top.label" },
        { "value": "bottom", "label": "t:global.settings.section.border.options.bottom.label" },
        { "value": "both", "label": "t:global.settings.section.border.options.both.label" }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-password.name",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "title": "Opening soon",
            "show_shop_password_message": true
          }
        },
        {
          "type": "newsletter",
          "settings": {}
        },
        {
          "type": "store_links",
          "settings": {
            "show_admin_callout": true,
            "show_social_links": false,
            "social_links_new_tab": true,
            "show_powered_by_shopify": true
          }
        }
      ]
    }
  ]
}
{% endschema %}
